
:root {
  --bg-primary-light: #ffffff;
  --bg-primary-middle: #f5f5f5;
  --bg-primary-dark: #c9c6c6;

  --bg-primary-red-light: #f37b85;
  --bg-primary-red-middle: #f85659;
  --bg-primary-red-dark: #ff0000;

  --txt-primary-light: #42020a;
  --txt-primary-middle: #2a2a2a;
  --txt-primary-dark: #1a1a1a;

}
#root{
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

/******* General ******* */
body {
  margin: 0;
  padding: 0;
  --txt-primary-dark: #1a1a1a;
}
*, * ::before , * ::after {
  box-sizing: border-box;

}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.contact-containter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-form, .contact-note {
  flex-basis: 1;
}

.container {
  max-width: 1280px;
  margin: 0 auto;

}
@media (min-width: 900px) {
  .flex {
    flex-direction: row;
  }
}

/************ Contact Css ************/

.contact {
  background: linear-gradient(90.21deg, var(--bg-primary-middle) -5.91%, var(--bg-primary-dark) 111.58%);
  padding:10px;
  width: 100vw;
}


.contact-paragraph {

  background: var(--bg-primary-red-light);
  border: 1px solid var(--bg-primary-red-dark);
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 20px;
  color: var(--txt-primary-black);
  display: flex;
  flex-direction:column;
  box-shadow: 1px 1px 3px black;
}
.contact-paragraph-list {

  display: flex;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 10px;

}
.contact-paragraph-list ul {
  text-align: left;
}
.contact-paragraph-list ul li{
  /* list-style: none; */
  line-height: 1.6;
  width: 100%;
}


.contact-paragraph-footer {
  font-size: 1.25rem;
  line-height: 5rem;
}
.contact h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
}

.contact form input, .contact form textarea{
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: var(--txt-primary-black);
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact .contact-form textarea {
  width: 500px;
}
.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: var(--txt-primary-dark);
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.9;
}
.contact form button {
  font-weight: 700;
  color: var(--txt-primary-dark);
  background-color: var(--bg-primary-light);
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.1s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: var(--txt-primary-dark);
}
.contact form button::before {
  content: "";
  background: var(--bg-primary-dark);
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
  box-shadow: 1px 1px 3px 2px var(--bg-primary-light),  -1px -1px 3px 2px var(--bg-primary-light);
}
